.main {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.topPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topPart2 {
    display: flex;
    justify-content: space-around;
}

.buttonFill {
    height: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
}

.bottomPart {}

.button {
    border: solid black;
    background-color: rgb(79, 40, 5);
    border: solid rgb(185, 134, 62);
    border-width: 1px;
    color: aliceblue;
    height: 100%;
    width: 100%;
    padding: 0px;
}

.button:hover {
    background-color: rgb(140, 40, 0);
}

.red {
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 60px;
}

.green {
    color: greenyellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 60px;
}