html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  background: black;
}

a {
  color: white;
  text-decoration: none;
}

Link {
  color: white;
}

* {
  box-sizing: border-box;
  color: white;
}

button {
  color: white;
  background-color: rgb(0, 109, 130);
  height: 50px;
}