html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  background: black;
}

a {
  color: white;
  text-decoration: none;
}

Link {
  color: white;
}

* {
  box-sizing: border-box;
  color: white;
}

button {
  color: white;
  background-color: rgb(0, 109, 130);
  height: 50px;
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(255, 159, 159);
}

h2,
h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(253, 255, 220);
}

p {
  font-size: large;
  color: rgb(253, 255, 220);
}

b {
  color: rgb(255, 152, 152);

}

ul {
  font-size: x-large;
  padding: 3px;
}

h1 {
  margin-bottom: 0%;
}